
.cslist
{

}

#header
{
	background-image: url(images/cloudspokes-logo-hor.png);
	background-repeat: no-repeat;
	height: 128px;
	width: 600px;
}

#nav
{
	margin-left: 128px;
	padding-top: 70px;
}

#loadingIcon
{
	margin: 10px auto;
	width: 32px;
}

#cloudspokesdata
{
	width: 580px;
	margin: 10px;
}

#cloudspokesdata tr.leaderboardItem img
{
	height: 30px;
	width: 30px;
}